{
    "Item": {
        "id": $input.json('$.Item.id'),
        "name": $input.json('$.Item.name'),
        "type": $input.json('$.Item.type'),
        "country": $input.json('$.Item.country'),
        "province": $input.json('$.Item.province'),
        "city": $input.json('$.Item.city'),
        "abbreviation": $input.json('$.Item.abbreviation'),
        "motto": $input.json('$.Item.motto'),
        "website": $input.json('$.Item.website'),
        "logo": $input.json('$.Item.logo')
    },
    "headers": {
        #foreach($param in $input.params().header.keySet())
        "$param": "$util.escapeJavaScript($input.params().header.get($param))" #if($foreach.hasNext),#end
        
        #end
    }
}